{% extends 'index.html.twig' %}

{% block content %}
<div class="row">
    <div class="span12">
        <h2>How to translate a source code into digraph ?</h2>
        <h3>The language consists of 6 types of vertex</h3> 
        <ul>
            <li>Trait : a trait definition</li>
            <li>Class : a class definition</li>
            <li>Interface : an interface definition</li>
            <li>Method : the declaration of a method a.k.a the signature</li>
            <li>Implementation : the "content" of the method</li>
            <li>Parameter : a parameter of a method</li>
        </ul> 
        <h3>The grammar for edges between vertices</h3>
        <img src="https://github.com/Trismegiste/Mondrian/raw/master/doc/language.gif"/>
    </div>
</div>
{% endblock %}
