{% extends 'index.html.twig' %}

{% block content %}
<div class="hero-unit">
    <h1>Mondrian</h1>
    <p>by Trismegiste ☤</p>
    <p><a class="btn btn-primary btn-large" href="https://github.com/Trismegiste/Mondrian">Go to Github &raquo;</a></p>
</div>
{% endblock %}