{% extends 'index.html.twig' %}

{% block content %}
<h1>Command line tools</h1>
<div class="row-fluid">
    <div class="span6">
        <a name="console"></a><h2>The console</h2>
        <p>
            This tool is using the Symfony/Console component, it means you have an helper
            when you type :
            <pre>$ php console.php</pre>
        </p>
        <p>
            You have an helper on a command
            <pre>$ php console.php help mondrian:digraph</pre>
        </p>
        <p>
            And a listing of commands :
            <pre>$ php console.php list</pre>
        </p>
        <p>
            All commands which generate digraph need a mandatory argument for
            the directory to recursively scan and parse all PHP files.
        </p>
        <p>
            The second argument is the basename of the generated file.<br/>
            Default value is "report"
        </p>
        <p>
            You can optionally ignore some directories with the option --ignore<br/>
            Default values are : "Tests" and "vendor" to avoid scanning for vendor
            and Tests.
        </p>
        <p>
            The second option is the format for the generated report. Default value is "dot"
            (GraphViz format)
        </p>
    </div>
    <div class="span6">
        <a name="soft"></a><h2>PHP has a soft touch</h2>
        <p>
            As you know, PHP is (very) soft-typed. I don't want to start a debate but
            this kind of static analysis tool has a disavantage with PHP : it is hard to
            "track" the type of a given variable. I've tried some simplistic approach
            but in the end, when you have a line like :
            <pre>call_user_func(array($this->$$objName, $methodName));</pre>
            You have a good chance to mistake on the type. That's why, I have add
            some annotations to put in your code to remove bad link and add some other.
        </p>
        <p>
            Currently, there is an annotation (a comment) to put
            in your code in the header of the method where a calling is done :
            <pre>
/**
 * @mondrian ignoreCallTo MyProject\MyClass::someMethod
 */</pre>
            It means the current implementation will not be linked with the specified method.<br/>
            See a sample in
            <a href="https://github.com/Trismegiste/Mondrian/blob/master/Tests/Fixtures/Project/FilterIgnoreCallTo.php#L45">unit tests</a>
        </p>

    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <a name="digraph"></a><h2>Make the graph</h2>
        <p>Generates a digraph on the
            <a href="http://www.graphviz.org/">GraphViz</a>
            format (only .dot, currently other formats are not tested)</p>
        <pre>$ php console.php mondrian:digraph ~/MyMessyProject</pre>
        <p>
            This digraph is a general picture of the source. If it is too heavy or too messy, you can
            try to generate a smaller one on a deeper directory. The same way you
            don't refactor all your app in one pass, you start by smaller components.
        </p>
        <p>
            After the generation, this command prints some useful metrics. They
            are useful to fast evaluate what kind of project you have
            to refactor. But it is not a guide where you have to go. Of course
            a project with a 50/50 ratio in interfaces/classes can be a good thing
            but if classes are used in parameters of methods instead of interfaces,
            interfaces are not really usefull. It's easy to fake good metrics.
        </p>
        <p>
            This analyser also counts where methods are declared first in the
            inheritance tree. A good point can be that you have low count of
            method first declared in class. This can mean you can decouple your
            concrete classes (remember LSP)
        </p>
        <p>
            From my experience, it's better to have dirty code in loosely coupled
            classes than beautiful code in highly coupled classes, because your beautiful
            code does not stand a chance against the entropy of changing.
        </p>
        <p>
            Dirty code can be refactored, even in paralell process, if you have loosely
            coupling.
        </p>
        <p>
            In short : Bad coding practices has bad metrics
            but good metrics does not means good coding practices.
            That's why I didn't push too far these statistics.
        </p>
    </div>
    <div class="span6">
        <a name="central"></a>
        <h2>Centrality</h2>
        <p>
            This tool find the "center of the source code". More precisely
            it calculates the <a href="http://en.wikipedia.org/wiki/Centrality">centrality</a>
            of the digraph with the <a href="http://en.wikipedia.org/wiki/Eigenvector">eigenvectors</a>
            of the
            <a href="http://en.wikipedia.org/wiki/Adjacency_matrix">adjacency matrix</a>.
            With this you can determinate what component is critical
            and what component could be refactored later.
        </p>
        <p>This tool helps you to find two effects on some components:</p>
        <h3>The ripple effect</h3>
        <pre>$ php console.php mondrian:centrality:used ~/MyMessyProject</pre>
        <p>
            One component (class, parameter, method...) can be highly used accross
            the source code. Each time there is a change in this component, chances
            are you need to change many other components directly depending on it
            and so on. That's the ripple. With the "used" algorithm you can view
            what component is time consuming and can lead to many merge conflicts in
            Git.
        </p>
        <h3>The bottleneck effect</h3>
        <pre>$ php console.php mondrian:centrality:depend ~/MyMessyProject</pre>
        <p>
            Do you remember this project where everytime you made a change somewhere,
            THAT class need to be modified too ? The "depend" algorithm finds this
            kind of problems. It searchs for the depencencies, but not only direct
            dependencies but also the combination of dependencies accross all the
            vertices of a digraph. My recommandation : abstract this component first :
            make multiple interfaces, explode it with strategy pattern, decorator,
            CoR etc... All bugs are "drown" to this component like a blackhole.
        </p>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <a name="spaghet"></a><h2>Spaghetti coupling</h2>
        <p>
            SpaghettiCoupling is an analyser which finds coupling between classes
            with theirs concrete components.
        </p>
        <pre>$ php console.php mondrian:spaghetti ~/MyProject</pre>
        <p>
            Example :<br/>
            In the implementation of the method A::doThing(), there is a call to
            the method B::getThing().
        </p>
        <p>
            If B::getThing() is declared in B, the two methods are coupled. One can
            find a directed path between these implementation vertices.
        </p>
        <p>
            If B::getThing() is an implementation of C::getThing() declared in the C interface
            from which B inherits, there is no coupling because, A::doThing() is linked
            to C::getThing(), therefore no directed path.
            <a href="http://en.wikipedia.org/wiki/Liskov_substitution_principle">Liskov principle</a>
            is safe.
        </p>
        <p>
            The first case is what I call
            "modern <a href="http://en.wikipedia.org/wiki/Spaghetti_code">spaghetti code</a>" :
            yes you haZ objects and classes
            but you are not S.O.L.I.D. You rely on concrete class, not abstraction,
            not "contract" (interface). Your classes are just a collection of functions
            with an attached data structure, not an abstract idea.
        </p>
        <p>
            Therefore, each time you make a modification in B::getThing(), you can
            break its contract and break something in A::doThing(). Worst, A has
            a link to B, therefore A can call anything in B. Classes get fat, instable,
            and you fear each time you move a semi-colon.
        </p>
    </div>
    <div class="span6">
        <a name="hidden"></a><h2>Hidden coupling</h2>
        <p>
            This is an analyser which checks and finds hidden coupling
            between types.
        </p>
        <pre>$ php console.php mondrian:hidden ~/MyProject</pre>
        <p>
            This analyser searches for method calls. Everytime there is a call of
            a method against an object ( $obj->getThing() ), it means an edge from
            an implementation vertex where the call is to a method signature vertex.
        </p>
        <p>
            Since "$obj" does not come from nowhere, its type (class or interface)
            must be known by the class owning the implementation vertex.
            In other words :
            If there is an edge from an implementation to a method, there must be
            at least one another directed path between these two vertices
            (through the class vertex, through a parameter vertex, superclass etc...)
            If you can't figure why, I recommand you to read the digraph language
            I've defined in this intent.
        </p>
        <p>
            If there is none, *maybe* it means a hidden coupling. I add the "maybe"
            because, it's hard to find the type of "$obj" in soft-typed language like
            PHP. That's why there can be false positive. But it's easier to check
            false positives than to search through all over the php files to find
            that kind of weakness in the code.
        </p>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <a name="cyclic"></a><h2>Cyclic coupling</h2>
        <p>
            Can be renamed : How to avoid cyclic dependencies ? When yo have a cycle in
            source code, you are really screwd because it's very difficult to know where to
            break it. This tool finds
            <a href="http://en.wikipedia.org/wiki/Strongly_connected_component">cycles between vertices</a>
            in the digraph.
        </p>
        <pre>$ php console.php mondrian:cycle ~/MyProject</pre>
        <p>
            This command uses the
            <a href="http://en.wikipedia.org/wiki/Tarjan%27s_strongly_connected_components_algorithm">Tarjan algorithm</a>
            for finding Strongly Connected Components.
            When a cycle is found between components, they are embedded in a cluster. With
            this graph, you can easily spot two problems :
            <ul>
                <li>which components are entangled ?</li>
                <li>where to attack your monolith at the weak point</li>
            </ul>
        </p>
    </div>
    <div class="span6">
        <a name="liskov"></a><h2>Concreteness</h2>
        <p>
            This tool generates a graph reduced to all calls to concrete methods
            to show the "lack of abstraction" in method parameters : if you have
            a class, the client could call anything. If you have an interface, you
            achieve the highest level of the
            <a href="http://en.wikipedia.org/wiki/Liskov_substitution_principle">Liskov substitution principle</a>
            since the client only need to know the contract of the object, not its real type.
        </p>
        <p>
            <a href="http://en.wikipedia.org/wiki/Liskov_substitution_principle">LSP</a>
            is the first requirement to achieve
            <a href="http://en.wikipedia.org/wiki/Interface_segregation_principle">ISP</a>
            in a second pass of refactoring.
        </p>
        <pre>$ php console.php mondrian:liskov ~/MyProject</pre>
        <p>
            After the graph is reduced, there is centrality algorithm to put colours.
            The most used items are in red and the less are in green. With this,
            you can visually find where refactoring is the <strong>most cost-effective</strong>
            for abstraction and decoupling.
        </p>
        <p>
            Beware : edges in this digraph are not oriented like the grammar I have defined.
            The edges Class ⇨ Method are reversed and Implementation ⇨ Method
            is replaced by Method (of that Implementation) ⇨ Class (of that Method).
        </p>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <a name="refactor"></a><h2>Refactoring : the Good</h2>
        <p>
            This is a refactoring tool which edits and generates source code in your project.<br/>
            The purpose :
            <ul>
                <li>It creates a new interface for each class with annotation
                    like "@mondrian contractor <em>NewInterfaceName</em>".</li>
                <li>it replaces all these classes by their new interface in
                    methods parameters (public or not, this is important)</li>
                <li>it adds the inheritance for <em>NewInterfaceName</em></li>
            </ul>
        </p>
        <pre>$ php console.php mondrian:abstract ~/MyProject</pre>
        <p>
            Each interface is stored in the same namespace, neighbour of the
            class in a directory. <em>NewInterfaceName</em> is a short name not a FQCN.
            It is not possible to store the generated content in another directory
            since everybody uses Git or at least SVN. Therefore you can launch the
            test suite immediately.
        </p>
        <p>
            It is a <strong>dumb refactoring</strong> but it makes the dull job to create new interfaces
            by gathering public methods for each class in only one pass. There is no
            name collision check or whatsoever.
        </p>
        <p>
            The boring stage of sequences of ctrl-C/ctrl-V/ctrl-X is passed,
            now it is time to use your brain and think about domain, model, business
            and object contract :)
        </p>
        <p>
            Thereafter, you need to create a tree of contracts with these
            'not-really-abstract' interfaces. You need to put common contract in parent interface,
            find common methods, remove unused methods, rename, move interfaces
            in other namespace etc... The perfect time to work with the digraph on the
            second screen.
        </p>
        <p>
            <small>Note: All classnames are transformed in FQCN. It is not beautiful but
                actually, it is more useful than I thought : since these interfaces will
                be splitted, renamed or moved, you don't have to think about "use" statements
                and massive "search & replace" are made easier.</small>
        </p>
    </div>
    <div class="span6">
        <a name="badcontract"></a><h2>Refactoring : the Bad</h2>
        <p>
            This tool searches for interfaces with class hint for parameters.
            This is bad because each time you inherit from these interface, you create
            a new coupling between concrete classes and god kills a kitten.
        </p>
        <p>
            That's why these interfaces are literally "coupling generators", this is
            a seed for spaghetti coupling.
        </p>
        <pre>$ php console.php mondrian:badcontract ~/MyProject</pre>
        <p>
            This digraph is reduced to the revelant vertices : interfaces linked to methods
            linked to classes. Parameters and implementations vertices are removed, as
            well as useless edges.
        </p>
        <p>
            This command is not really useful for existing code. It is more relevant
            in conjunction with the command <strong>mondrian:abstract</strong>. Because
            code generation could become messy and prone to error, you can check
            the quality of the new generated interfaces with this tool.
        </p>
    </div>
</div>
{% endblock %}