{% extends 'base.html.twig' %}

{% block page_title %}Mondrian by Trismegiste{% endblock %}

{% block project_name %}Mondrian{% endblock %}

{% block navigation_menu %}
<li><a href="index.html#what">What</a></li>
<li><a href="theory.html">Theory</a></li>
<li><a href="install.html">Install</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Commands <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="cmd.html">Summary</a></li>
        <li><a href="cmd.html#digraph">Digraph</a></li>
        <li><a href="cmd.html#central">Centrality</a></li>
        <li><a href="cmd.html#hidden">Hidden coupling</a></li>
        <li><a href="cmd.html#spaghet">Spaghetti coupling</a></li>
        <li><a href="cmd.html#cyclic">Cyclic coupling</a></li>
        <li><a href="cmd.html#liskov">Liskov decoupling</a></li>
        <li><a href="cmd.html#refactor">Refactoring</a></li>
    </ul>
</li>
<li><a href="workflow.html">Workflow</a></li>
<li><a href="doc/index.html">Documentation</a></li>
<li><a href="faq.html">FAQ</a></li>
<li><a href="about.html">About</a></li>
{% endblock %}

{% block authentication '' %}

{% block content %}

<div class="hero-unit">
    <h1>Y U NO Abstract ?</h1>
    <p>A set of CLI tools to help you to analyse and refactor highly coupled classes.</p>
    <p><a class="btn btn-primary btn-large" href="#what">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <a name="what"></a><h2>What</h2>
        <p>
            It is a set of CLI tools to help you to analyse and refactor highly coupled classes.
        </p>
        <p>
            As you know <a href="http://en.wikipedia.org/wiki/Law_of_Demeter">Law of Demeter</a>
            and
            <a href="http://en.wikipedia.org/wiki/SOLID_(object-oriented_design)">S.O.L.I.D</a>
            guidances, you need your classes loosely
            coupled. And for this, there is one only rule : <strong>ABSTRACTION</strong>
        </p>
        <p>
            This app provides some helpers to add abstraction into concrete classes
            with minimum pain.
        </p>
        <p>
            When you need abstraction, you have
            to "zoom out" from the code and see the big picture. For
            that, what's better than graphical representation ?
        </p>
        <p><a class="btn" href="cmd.html">Commands &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>How</h2>
        <p>
            This app does not analyse the details of implementation itself but its structure
            and particullary its dependencies between types, a.k.a the
            <a href="http://en.wikipedia.org/wiki/Efferent_coupling">efferent coupling</a>.
        </p>
        <p>
            With the proprer vocabulary and a proper grammar, each
            source code can be transformed into a
            <a href="http://en.wikipedia.org/wiki/Directed_graph">directed graph</a>.
        </p>
        <p>
            Then, with this abstract representation, it uses some algorithms and some
            powerfull properties of the graph theory to find what's wrong with the
            source code.
        </p>
        <p><a class="btn" href="theory.html">View sample &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Why</h2>
        <p>
            Unlike other tools like <a href="http://pdepend.org/">PDepend</a>
            which produce code metrics (or statistics) on coupling,
            it goes into a level of atomicity to indeed infer where problems are located.
        </p>
        <p>
            To ease refactoring, the first thing is to decouple your
            <a href="http://en.wikipedia.org/wiki/Monolithic_system">monolith</a>.
            The real quality of code is its conformance to the
            law of Demeter and for that, it's not about average length of methods, code
            coverage, or number of methods per class or their inheritance depth.
        </p>
        <p>
            Ok, it's a hint but like any other statistics, it's only a general picture,
            not a way to guide you and answer to the question :
            "Where do I begin to refactor the real shit ?"
        </p>
        <p><a class="btn" href="install.html">Install ! &raquo;</a></p>
    </div>
</div>
{% endblock %}