{% extends 'index.html.twig' %}

{% block content %}
<div class="row-fluid">

    <h1>Installation</h1>

    <h2>With Composer</h2>
    <pre>$ composer.phar create-project trismegiste/mondrian mondrian dev-master</pre>

    <h2>Download</h2>
    <pre>
$ curl -L https://github.com/Trismegiste/Mondrian/archive/master.tar.gz | tar xvz
$ cd Mondrian-master
$ composer.phar install</pre>

    <h2>Clone with Github</h2>
    <pre>
$ git clone git://github.com/Trismegiste/Mondrian.git
$ composer.phar install</pre>

    <h1>Other requirements</h1>
    <h2>Unit tests</h2>
    <p>
        It's a 50/50 joke but don't expect refactor code if you don't have unit tests.
        See my <a href="https://github.com/Trismegiste/RADBundle">RADBundle</a> if
        you want to fast generate skeleton of tests.
    </p>
    <h2>GraphViz</h2>
    <p>
        To read the DOT format of the generated report,
        you need <a href="http://www.graphviz.org/">GraphViz</a>
    </p>
    <h3>For Microsoft's minions</h3>
    <p>
        Go to this page and download the MSI or the ZIP:<br/>
    <a href="http://www.graphviz.org/Download_windows.php">http://www.graphviz.org/Download_windows.php</a>
    </p>
    <h3>For Linux addicts</h3>
    <p>
        There are many ways, one simple is :
        <pre>$ sudo apt-get install xdot</pre>
    </p>
    <h3>For Mac fanboys</h3>
    <p>
        <a href="http://www.graphviz.org/Download_macos.php">http://www.graphviz.org/Download_macos.php</a>
    </p>

</div>
{% endblock %}