{% extends 'index.html.twig' %}

{% block content %}
<div class="row-fluid">

    <h2>Installation</h2>

    <h3>With Composer</h3>
    <pre>$ composer.phar create-project trismegiste/mondrian mondrian dev-master</pre>

    <h3>Download</h3>
    <pre>
$ curl -L https://github.com/Trismegiste/Mondrian/archive/master.tar.gz | tar xvz
$ cd Mondrian-master
$ composer.phar install</pre>

    <h3>Clone with Github</h3>
    <pre>
$ git clone git://github.com/Trismegiste/Mondrian.git
$ composer.phar install</pre>

    <h2>Other requirements</h2>
    <h3>Unit tests</h3>
    <p>
        It's a 50/50 joke but don't expect refactor code if you don't have unit tests.
        See my <a href="https://github.com/Trismegiste/RADBundle">RADBundle</a> if
        you want to fast generate skeleton of tests.
    </p>
    <h3>GraphViz</h3>
    <p>
        To read the DOT format of the generated report,
        you need <a href="http://www.graphviz.org/">GraphViz</a>
    </p>
    <h4>For Microsoft's minions</h4>
    <p>
        Go to this page and download the MSI or the ZIP:<br/>
    <a href="http://www.graphviz.org/Download_windows.php">http://www.graphviz.org/Download_windows.php</a>
    </p>
    <h4>For Linux addicts</h4>
    <p>
        There are many ways, one simple is :
        <pre>$ sudo apt-get install xdot
$ xdot report.dot</pre>
    </p>
    <h4>For Mac fanboys</h4>
    <p>
        <a href="http://www.graphviz.org/Download_macos.php">http://www.graphviz.org/Download_macos.php</a>
    </p>

</div>
{% endblock %}
