{% extends 'index.html.twig' %}

{% block content %}
<div class="row">
    <div class="span6">
        <img src="https://github.com/Trismegiste/Mondrian/raw/master/Resources/doc/img/abstracting.png"/>
        <p>

        </p>
    </div>

    <div class="span6">
        <img src="https://github.com/Trismegiste/Mondrian/raw/master/Resources/doc/img/concrete.png"/>
        <p>

        </p>
    </div>

</div>
{% endblock %}